.calc {
    background: black;
    color: white;
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 5px 6px rgb(36, 28, 28);
}
.calc input {
    background: black;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 5px;
}
#spTotal {
    background: gray;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}
.calc input:focus {
    background: white;
    color: wheat;
}
.calc button {
    background: gray;
    color: rgb(255, 254, 254);
    border-radius: 10px;
    padding: 5px;
    margin-top: 10px;
}
.calc button:hover {
    background:black;
    color: rgb(255, 254, 254);
    cursor: pointer;
}
#spLista {
    text-align: start;
    border-style: dashed;
    border-radius: dotted;
    border-color:white;
    border-width: 1px;
    border-radius: 4px;
    background: whitesmoke;
    color: rebeccapurple;
    margin-top: 10px;
}
.calcF {
    display: none;
}
#input-calcFin {
    display: none;
}
#input-calcFin:checked + .calc .calcF {
    display: block;
}
